
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-laptop:before { content: '\e802'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
